/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.parent{
    border: 3px solid red;
    height: 400px;
    width: 400px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    border: 3px solid green;
    height: 300px;
    width: 300px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grandchild{
    border: 3px solid yellow;
    height: 200px;
    width: 200px;
    background-color: yellow;
} */